<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="header-img">
        <ion-img src="assets/img/order-form/coupon-icon.png"></ion-img>
      </ion-col>

      <ion-col class="ion-text-center header-left">
        <ion-text class="text-bold">
          BUY 1 GET 1 50% OFF<br>
          <span class="text-normal">Was $39.90</span><br>
          <span class="text-underline">Now Only $29.92</span>
        </ion-text>
      </ion-col>

      <ion-col class="header-img">
        <ion-img src="assets/img/order-form/usps.jpg"></ion-img>
      </ion-col>
      <ion-col class="ion-text-center header-right">
        <ion-text class="text-bold">
          Your 2 X 24/7 LIP TREATMENT Will Be<br>
          <span class="text-underline">Delivered</span> Within 7 Business Days
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size-lg="6" size="12">
        <ion-img src="assets/img/order-form/BSLipTreatmentWand.png" class="bestseller-img"></ion-img>
        <ion-text class="ion-text-center text-bold bestseller-text">
          Limited Time <br>
          <span class="text-normal">Also</span> FREE
          <span class="text-normal">Shipping Today</span>
        </ion-text>

        <ion-list lines="none" class="describe ion-text-center">
          <ion-item class="ion-margin-vertical" color="dark">
            <ion-text class="text-italic">Replenishes And Hydrates For Fuller Softer Lips
            </ion-text>
          </ion-item>
          <ion-item class="ion-margin-vertical describe-color">
            <ion-text class="text-italic">Feels Like A Silky Gloss</ion-text>
          </ion-item>
          <ion-item class="ion-margin-vertical" color="dark">
            <ion-text class="text-italic">Plump Your Lips Naturally And Safely</ion-text>
          </ion-item>
          <ion-item class="ion-margin-vertical describe-color">
            <ion-text class="ion-justify-content-center text-italic">
              <span> Cool On Contact, Thanks To Peppermint Oil</span>
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col size-lg="6" size="12">
        <ion-grid>
          <ion-list lines="none">
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-item class="ion-no-padding">
                  <ion-text class="ion-text-center text-bold text-form-header ion-padding">
                    <span class="text-normal">Tell Us Where To Send</span> YOUR 2 X 24/7 LIP TREATMENT
                    NORMALLY $39.90ea
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-item class="ion-no-padding border border-orange" color="light">
                  <ion-grid>
                    <ion-row class="ion-padding">
                      <ion-col>
                        <ion-text class="text-bold ion-padding">
                          1 Shipping
                        </ion-text>
                      </ion-col>
                      <ion-col>
                        <ion-text class="text-bold ion-padding">
                          2. Address
                        </ion-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-item class="border ion-no-padding">
                  <ion-grid>
                    <form #orderForm="ngForm" novalidate>
                      <ion-list lines="none" class="ion-no-margin">
                        <ion-row>
                          <ion-col class="ion-no-padding">
                            <ion-text color="danger" [hidden]="firstname.valid || isSubmitted === false"
                              class="ion-padding-start ion-no-margin">
                              {{ inputLabels[0] }} is required
                            </ion-text>
                            <ion-item>
                              <ion-input [(ngModel)]="receiver.firstName" name="firstname" #firstname="ngModel" required
                                placeholder="First Name" class="form-input">
                              </ion-input>
                            </ion-item>
                          </ion-col>
                          <ion-col class="ion-no-padding">
                            <ion-text color="danger" [hidden]="lastname.valid || isSubmitted === false"
                              class="ion-padding-start ion-no-margin">
                              {{ inputLabels[1] }} is required
                            </ion-text>
                            <ion-item>
                              <ion-input [(ngModel)]="receiver.lastName" name="lastname" #lastname="ngModel" required
                                placeholder="Last Name" class="form-input"></ion-input>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-text color="danger" [hidden]="email.valid || isSubmitted === false"
                          class="ion-padding-start ion-no-margin">
                          {{ inputLabels[2] }} is required
                        </ion-text>
                        <ion-item>
                          <ion-input [(ngModel)]="receiver.email" name="email" #email="ngModel" required type="email"
                            placeholder="Email Address" class="form-input"></ion-input>
                        </ion-item>
                        <ion-text color="danger" [hidden]="phone.valid || isSubmitted === false"
                          class="ion-padding-start ion-no-margin">
                          {{ inputLabels[3] }} is required

                        </ion-text>
                        <ion-item>
                          <ion-input [(ngModel)]="receiver.phone" name="phone" #phone="ngModel" required type="tel"
                            placeholder="Mobile Phone Number" class="form-input"></ion-input>
                        </ion-item>
                      </ion-list>
                      <ion-list lines="none" class="ion-no-margin">
                        <ion-list-header>
                          <ion-label>SHIPPING
                          </ion-label>
                        </ion-list-header>
                        <ion-text color="danger" [hidden]="address.valid || isSubmitted === false"
                          class="ion-padding-start ion-no-margin">
                          {{ inputLabels[4] }} is required

                        </ion-text>
                        <ion-item>
                          <ion-input [(ngModel)]="shipping.address" name="address" #address="ngModel" required
                            placeholder="Address Line 1" class="form-input">
                          </ion-input>
                        </ion-item>
                        <ion-text color="danger" [hidden]="city.valid || isSubmitted === false"
                          class="ion-padding-start ion-no-margin">
                          {{ inputLabels[5] }} is required

                        </ion-text>
                        <ion-item>
                          <ion-input [(ngModel)]="shipping.city" name="city" #city="ngModel" required placeholder="City"
                            class="form-input">
                          </ion-input>
                        </ion-item>
                        <ion-text color="danger" [hidden]="country.valid || isSubmitted === false"
                          class="ion-padding-start ion-no-margin">
                          {{ inputLabels[6] }} is required
                        </ion-text>
                        <ion-item>
                          <ion-input [(ngModel)]="shipping.country" name="country" #country="ngModel" required
                            placeholder="Country" class="form-input">
                          </ion-input>
                        </ion-item>
                        <ion-row>
                          <ion-col class="ion-no-padding">
                            <ion-text color="danger" [hidden]="state.valid || isSubmitted === false"
                              class="ion-padding-start ion-no-margin">
                              {{ inputLabels[7] }} is required

                            </ion-text>
                            <ion-item>
                              <ion-input [(ngModel)]="shipping.state" name="state" #state="ngModel" required
                                placeholder="State/Province" class="form-input">
                              </ion-input>
                            </ion-item>
                          </ion-col>
                          <ion-col class="ion-no-padding">
                            <ion-text color="danger" [hidden]="postalcode.valid || isSubmitted === false"
                              class="ion-padding-start ion-no-margin">
                              {{ inputLabels[8] }} is required
                            </ion-text>
                            <ion-item>
                              <ion-input [(ngModel)]="shipping.postalCode" name="postalcode" #postalcode="ngModel"
                                required type="number" placeholder="Zip/Postal Code" class="form-input">
                              </ion-input>
                            </ion-item>
                          </ion-col>
                        </ion-row>
                        <ion-button (click)="onAddPaymentInfo(orderForm)" type="submit" expand="full" color="dark"
                          class="ion-padding-horizontal btn-submit">
                          <ion-text>
                            > &nbsp;&nbsp;&nbsp;&nbsp;Add Payment Information<br>
                            <ion-text class="privacy">USA Offer Only</ion-text>
                          </ion-text>
                        </ion-button>
                        <ion-row>
                          <ion-col class="ion-text-center">
                            <ion-text class="ion-padding privacy">
                              We Respect Your Privacy & Information
                            </ion-text>
                          </ion-col>
                        </ion-row>
                      </ion-list>
                    </form>
                  </ion-grid>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-item class="ion-no-padding">
                  <ion-text class="ion-text-center text-bold text-form-footer ion-padding">
                    Shopping Is Safe & Secure - Guaranteed
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row class="ion-padding-horizontal">
              <ion-col size="12" size-lg="2" class="lock ion-justify-content-center">
                <ion-img src="assets/img/order-form/secure-order-lock-02.png" class="secure-lock"></ion-img>
              </ion-col>
              <ion-col size="12" size-lg="10" class="ion-text-center ion-text-lg-start">
                <ion-text>Secure credit card payment<br>
                  This is a secure 256-bit SSL encrypted payment.
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-img src="assets/img/order-form/cc.png" class="payments">
                </ion-img>
              </ion-col>
            </ion-row>

          </ion-list>
        </ion-grid>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col size-lg="6" size="12">
        <ion-list lines="none">
          <div class="ion-text-center">
            <ion-text class="text-underline text-bold">Common Q&A</ion-text>
          </div>
          <ion-item>
            <ion-label>
              <ion-icon name="help-circle" slot="start"></ion-icon>
              <ion-text>
                Where is it made?
              </ion-text>
              <p class="ion-text-wrap">The product is made in the USA</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="help-circle" slot="start"></ion-icon>
              <ion-text>
                Where is it made?
              </ion-text>
              <p class="ion-text-wrap">The product is made in the USA</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="help-circle" slot="start"></ion-icon>
              <ion-text>
                Where is it made?
              </ion-text>
              <p class="ion-text-wrap">The product is made in the USA</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="help-circle" slot="start"></ion-icon>
              <ion-text>
                Where is it made?
              </ion-text>
              <p class="ion-text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quis magni
                dolores, ad qui omnis quaerat iure. Necessitatibus adipisci vero, dolorem totam excepturi, nobis dicta
                nam, illo dolore mollitia tempore.</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-lg="6" size="12">
        <ion-list lines="none">
          <div class="ion-text-center">
            <ion-text class="text-underline text-bold">What Our Customers Say</ion-text>
          </div>

          <ion-item>
            <ion-label>
              <h3>Denis</h3>
              <ion-icon name="star-outline"></ion-icon>
              <p class="ion-text-wrap">I purchased the 24/7 lip treatment. I'm in love!! At first, I didn't think
                it was
                doing anything but a
                few days later I
                noticed my lips seemed fuller. I use it in the morning and at night and once throughout the day. It
                really does what it
                says. On my second order and I love this!! Just placed another order. It really makes my lips fuller!!
              </p>
            </ion-label>

          </ion-item>
          <ion-item>
            <ion-label>
              <h3>Denis</h3>
              <ion-icon name="star-outline"></ion-icon>
              <p class="ion-text-wrap">I purchased the 24/7 lip treatment. I'm in love!! At first, I didn't think
                it was
                doing anything but a
                few days later I
                noticed my lips seemed fuller. I use it in the morning and at night and once throughout the day. It
                really does what it
                says. On my second order and I love this!! Just placed another order. It really makes my lips fuller!!
              </p>
            </ion-label>

          </ion-item>
          <ion-item>
            <ion-label>
              <h3>Denis</h3>
              <ion-icon name="star-outline"></ion-icon>
              <p class="ion-text-wrap">I purchased the 24/7 lip treatment. I'm in love!! At first, I didn't think
                it was
                doing anything but a
                few days later I
                noticed my lips seemed fuller. I use it in the morning and at night and once throughout the day. It
                really does what it
                says. On my second order and I love this!! Just placed another order. It really makes my lips fuller!!
              </p>
            </ion-label>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center ion-padding"
      style="background-color:#272727; color:#fff">
      <ion-col size="6">
        <ion-text>
          Lorem ipsu
        </ion-text>
      </ion-col>
      <ion-col size="6">
        Lorem ipsum dolor
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
