$background_style: #dba49e;

.header-img {
  max-width: 5em;
}

.text-underline {
  text-decoration: underline;
}
.text-bold {
  font-weight: 700;
}
.text-italic {
  font-style: italic;
}

.text-bold.header-left {
  font-size: 20px;
}

.text-bold.header-right {
  line-height: 1.5;
}

.bestseller-img {
  max-width: 30em;
  margin: 0 auto;
}

ion-item {
  &.ion-no-padding {
    --inner-padding-end: 0;
  }
  .text-form-header {
    background-color: $background_style;
    color: #fff;
    line-height: 1.5;
  }
  .text-form-footer {
    background-color: #6ac8b3;
    // min-width: 35em;
  }
  &.describe-color {
    --background: #dba49e;
    --color: #fff;
  }
  ion-input {
    --background: #f1f1f1;
    --color: #272727;
    --padding-bottom: 10px;
    --padding-top: 10px;
    --placeholder-color: #818181;

    &.form-input {
      border: 1px solid #dfdfdf;
      --border-radius: 8px;
      --border-style: solid;
      --border-width: 8px;
      --padding-start: 10px;
    }
  }
}

.form-border {
  border: 2px solid #e4e4e4;
  border-radius: 2px;
}

.payments {
  margin: 0 auto;
}

.bestseller-text {
  font-size: 25px;
  line-height: 1.5;
}

@media (max-width: 991px) {
  .header-img,
  .header-right {
    display: none;
  }

  // ion-hide-lg-down doesn't work
  .describe {
    display: none;
  }
}
