<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-around ion-align-items-center">
      <div class="header-img">
        <ion-col>
          <ion-img src="assets/img/order-form/coupon-icon.png"></ion-img>
        </ion-col>
      </div>
      <div class="ion-text-center text-bold header-left">
        <ion-col>
          <p>
            BUY 1 GET 1 50% OFF<br>
            <span style="font-weight:400;">Was $39.90</span><br>
            <span class="text-underline">Now Only $29.92</span>
          </p>
        </ion-col>
      </div>
      <div class="header-img">
        <ion-col>
          <ion-img src="assets/img/order-form/usps.jpg"></ion-img>
        </ion-col>
      </div>
      <div class="ion-text-center text-bold header-right">
        <ion-col>
          <p>
            Your 2 X 24/7 LIP TREATMENT Will Be<br>
            <span class="text-underline">Delivered</span> Within 7 Business Days
          </p>
        </ion-col>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="bestseller-img">
          <ion-img src="assets/img/order-form/BSLipTreatmentWand.png"></ion-img>
        </div>
        <div class="ion-text-center">
          <p class="text-bold bestseller-text">
            Limited Time <br>
            <span style="font-weight:400;">Also</span> FREE
            <span style="font-weight:400;">Shipping Today</span>
          </p>
        </div>
        <div class="describe">
          <div class="ion-text-center describe-dark">
            <p class="text-italic">Replenishes And Hydrates For Fuller Softer Lips</p>
          </div>


          <div class="ion-text-center describe-color">
            <p class="text-italic">Feels Like A Silky Gloss</p>
          </div>


          <div class="ion-text-center describe-dark">
            <p class="text-italic">Plump Your Lips Naturally And Safely</p>
          </div>


          <div class="ion-text-center describe-color">
            <p class="text-italic">Feels Cool On Contact, Thanks To Peppermint Oil</p>
          </div>

        </div>


      </ion-col>
      <ion-col>
        <ion-list lines="none">
          <ion-item>
            <div class="ion-text-center text-bold text-header ion-padding-horizontal">
              <p><span style="font-weight:400;">Tell Us Where To Send</span> YOUR 2 X 24/7 LIP TREATMENT
                NORMALLY $39.90ea
              </p>
            </div>
          </ion-item>
          <ion-item>
            <ion-grid class="ion-no-padding">
              <form #orderForm="ngForm" novalidate class="form">
                <ion-list lines="none">
                  <ion-row class="ion-justify-content-around">
                    <ion-col>
                      <ion-text color="danger">
                        <p [hidden]="firstname.valid || isSubmitted === false" class="ion-padding-start ion-no-margin">
                          First Name is required
                        </p>
                      </ion-text>
                      <ion-item>
                        <ion-input [(ngModel)]="receiver.firstName" name="firstname" #firstname="ngModel" required
                          placeholder="First Name" class="form-input">
                        </ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-text color="danger">
                        <p [hidden]="lastname.valid || isSubmitted === false" class="ion-padding-start ion-no-margin">
                          Last Name is required
                        </p>
                      </ion-text>
                      <ion-item>
                        <ion-input [(ngModel)]="receiver.lastName" name="lastname" #lastname="ngModel" required
                          placeholder="Last Name" class="form-input"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-text color="danger">
                    <p [hidden]="email.valid || isSubmitted === false" class="ion-padding-start ion-no-margin">
                      Email is required
                    </p>
                  </ion-text>
                  <ion-item>
                    <ion-input [(ngModel)]="receiver.email" name="email" #email="ngModel" required type="email"
                      placeholder="Email Address" class="form-input"></ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <p [hidden]="phone.valid || isSubmitted === false" class="ion-padding-start ion-no-margin">
                      Phone Number is required
                    </p>
                  </ion-text>
                  <ion-item>
                    <ion-input [(ngModel)]="receiver.phone" name="phone" #phone="ngModel" required type="tel"
                      placeholder="Mobile Phone Number" class="form-input"></ion-input>
                  </ion-item>
                </ion-list>
                <ion-list lines="none">
                  <ion-list-header>
                    <ion-label>
                      <h3>SHIPPING</h3>
                    </ion-label>
                  </ion-list-header>
                  <ion-text color="danger">
                    <p [hidden]="address.valid || isSubmitted === false" class="ion-padding-start ion-no-margin">
                      Address is required
                    </p>
                  </ion-text>
                  <ion-item>
                    <ion-input [(ngModel)]="shipping.address" name="address" #address="ngModel" required
                      placeholder="Address Line 1" class="form-input">
                    </ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <p [hidden]="city.valid || isSubmitted === false" class="ion-padding-start ion-no-margin">
                      City is required
                    </p>
                  </ion-text>
                  <ion-item>
                    <ion-input [(ngModel)]="shipping.city" name="city" #city="ngModel" required placeholder="City"
                      class="form-input">
                    </ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <p [hidden]="country.valid || isSubmitted === false" class="ion-padding-start ion-no-margin">
                      Country is required
                    </p>
                  </ion-text>
                  <ion-item>
                    <ion-input [(ngModel)]="shipping.country" name="country" #country="ngModel" required
                      placeholder="Country" class="form-input">
                    </ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <p [hidden]="state.valid || isSubmitted === false" class="ion-padding-start ion-no-margin">
                      State is required
                    </p>
                  </ion-text>
                  <ion-item>
                    <ion-input [(ngModel)]="shipping.state" name="state" #state="ngModel" required
                      placeholder="State/Province" class="form-input">
                    </ion-input>
                  </ion-item>
                  <ion-text color="danger">
                    <p [hidden]="postalcode.valid || isSubmitted === false" class="ion-padding-start ion-no-margin">
                      Postal Code is required
                    </p>
                  </ion-text>
                  <ion-item>
                    <ion-input [(ngModel)]="shipping.postalCode" name="postalcode" #postalcode="ngModel" required
                      type="number" placeholder="Zip/Postal Code" class="form-input">
                    </ion-input>
                  </ion-item>
                  <div class="ion-padding-horizontal">
                    <ion-button (click)="onAddPaymentInfo(orderForm)" type="submit" expand="full" color="dark">
                      <p>> &nbsp;&nbsp;&nbsp;&nbsp;Add
                        Payment
                        Information<br>
                        Usa Offer Only</p>
                    </ion-button>
                  </div>
                </ion-list>
              </form>
            </ion-grid>

          </ion-item>
          <ion-item>
            <div class="ion-text-center text-bold text-footer ion-padding-horizontal">
              <p>Shopping Is Safe & Secure - Guaranteed</p>
            </div>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-img src="assets/img/order-form/secure-order-lock-02.png"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <p class="ion-text-wrap">Secure credit card payment<br> This is a secure 256-bit SSL
                encrypted payment.
              </p>
            </ion-label>
          </ion-item>
          <ion-item class="ion-justify-content-right ion-align-items-start">
            <div class="ion-margin-horizontal payments">
              <ion-img src="assets/img/order-form/cc.png">
              </ion-img>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-start">
      <ion-col>
        <ion-list lines="none">
          <div class="ion-text-center">
            <p class="text-underline">Common Q&A</p>
          </div>
          <ion-item>
            <ion-icon name="help-circle" slot="start"></ion-icon>
            <ion-label>
              <h3>Where is it made?</h3>
              <p class="ion-text-wrap">The product is made in the USA</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="help-circle" slot="start"></ion-icon>
            <ion-label>
              <h3>Where is it made?</h3>
              <p class="ion-text-wrap">The product is made in the USA</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="help-circle" slot="start"></ion-icon>
            <ion-label>
              <h3>Where is it made?</h3>
              <p class="ion-text-wrap">The product is made in the USA</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="help-circle" slot="start"></ion-icon>
            <ion-label>
              <h3>Where is it made?</h3>
              <p class="ion-text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fugiat
                dolores molestias labore
                doloremque doloribus, neque animi distinctio dolorem optio accusamus quam consectetur ipsam dolor
                debitis, amet fuga, saepe nobis?</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list lines="none">

          <div class="ion-text-center">
            <p class="text-underline">What Our Customers Say</p>
          </div>

          <ion-item>
            <ion-label>
              <h3>Denis</h3>
              <ion-icon name="star-outline"></ion-icon>
              <p class="ion-text-wrap">I purchased the 24/7 lip treatment. I'm in love!! At first, I didn't think it was
                doing anything but a
                few days later I
                noticed my lips seemed fuller. I use it in the morning and at night and once throughout the day. It
                really does what it
                says. On my second order and I love this!! Just placed another order. It really makes my lips fuller!!
              </p>
            </ion-label>

          </ion-item>
          <ion-item>
            <ion-label>
              <h3>Denis</h3>
              <ion-icon name="star-outline"></ion-icon>
              <p class="ion-text-wrap">I purchased the 24/7 lip treatment. I'm in love!! At first, I didn't think it was
                doing anything but a
                few days later I
                noticed my lips seemed fuller. I use it in the morning and at night and once throughout the day. It
                really does what it
                says. On my second order and I love this!! Just placed another order. It really makes my lips fuller!!
              </p>
            </ion-label>

          </ion-item>
          <ion-item>
            <ion-label>
              <h3>Denis</h3>
              <ion-icon name="star-outline"></ion-icon>
              <p class="ion-text-wrap">I purchased the 24/7 lip treatment. I'm in love!! At first, I didn't think it was
                doing anything but a
                few days later I
                noticed my lips seemed fuller. I use it in the morning and at night and once throughout the day. It
                really does what it
                says. On my second order and I love this!! Just placed another order. It really makes my lips fuller!!
              </p>
            </ion-label>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>