$background_style: #dba49e;

.header-img {
  max-width: 5em;
}

.text-underline {
  text-decoration: underline;
}
.text-bold {
  font-weight: 700;
}
.text-italic {
  font-style: italic;
}

.text-bold.header-left {
  font-size: 20px;
}

.bestseller-img {
  max-width: 30em;
  margin: 0 auto;
}

.text-form-header {
  background-color: $background_style;
  color: #fff;
  line-height: 1.5;
}

.text-footer {
  background-color: #6ac8b3;
}

.form-border {
  border: 2px solid #e4e4e4;
}

ion-input {
  --background: #f1f1f1;
  --color: #272727;
  --padding-bottom: 10px;
  --padding-top: 10px;
  --placeholder-color: #818181;
}

ion-input {
  --background: #3880ff;
  --color: #ffffff;
  --padding-bottom: 10px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 10px;
}

.payments {
  margin: 0 auto;
  max-width: 20em;
}

.form-input {
  border: 1px solid #dfdfdf;
  border-radius: 2px;
}

.bestseller-text {
  font-size: 25px;
  line-height: 1.5;
}

ion-item.describe-color {
  --background: $background_style;
}

@media (max-width: 991px) {
  .header-img,
  .header-right {
    display: none;
  }

  .text-footer {
    min-width: 0;
  }

  .describe {
    display: none;
  }
}
